<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.micjames.StepCounter</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>8.0</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon-60@2x</string>
		<string>Icon@2x</string>
		<string>Icon</string>
		<string>Icon-Small-40@2x</string>
		<string>Icon-Small</string>
		<string>Icon-Small@2x</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Fonts/Raleway-Bold.otf</string>
		<string>Fonts/Raleway-ExtraBold.otf</string>
		<string>Fonts/Raleway-ExtraLight.otf</string>
		<string>Fonts/Raleway-Light.otf</string>
		<string>Fonts/Raleway-Medium.otf</string>
		<string>Fonts/Raleway-Regular.otf</string>
		<string>Fonts/Raleway-SemiBold.otf</string>
		<string>Fonts/Raleway-Thin.otf</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<string>No</string>
	<key>CFBundleDisplayName</key>
	<string>Step Counter</string>
	<key>CFBundleShortVersionString</key>
	<string>1.5</string>
	<key>UIViewControllerBasedStatusBarAppearance - 2</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UIMainStoryboardFile</key>
	<string>StepCounter</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleVersion</key>
	<string>1</string>
</dict>
</plist>
