[Bb]in/
[Oo]bj/
[Cc]omponents/
[Pp]ackages/
APK/

StepCounter/obj/iPhone/AppStore/mtouch-cache/linked-assemblies.txt

StepCounter/obj/iPhone/AppStore/mtouch-cache/linked-assemblies.txt

StepCounter/obj/iPhone/AppStore/mtouch-cache/main.armv7.m

StepCounter/obj/iPhone/AppStore/mtouch-cache/main.armv7.o

StepCounter/obj/iPhone/AppStore/mtouch-cache/monotouch.dll.armv7.o

/Artwork/My StepCounter.sketch/Data
/Artwork/My StepCounter.sketch/fonts
/Artwork/My StepCounter.sketch/metadata
/Artwork/My StepCounter.sketch/QuickLook/Preview.png
/Artwork/My StepCounter.sketch/QuickLook/Thumbnail.png

/StepCounter/obj/iPhone/AppStore/mtouch-cache/arguments
/StepCounter/obj/iPhone/AppStore/mtouch-cache/Build/monotouch.dll
/StepCounter/obj/iPhone/AppStore/mtouch-cache/Build/monotouch.dll.mdb
/StepCounter/obj/iPhone/AppStore/mtouch-cache/Build/mscorlib.dll
/StepCounter/obj/iPhone/AppStore/mtouch-cache/Build/mscorlib.dll.mdb
/StepCounter/obj/iPhone/AppStore/mtouch-cache/Build/StepCounter.exe
/StepCounter/obj/iPhone/AppStore/mtouch-cache/Build/symbol-file
/StepCounter/obj/iPhone/AppStore/mtouch-cache/entry-points.txt
/StepCounter/obj/iPhone/AppStore/mtouch-cache/libiRate.a
/StepCounter/obj/iPhone/AppStore/mtouch-cache/Link/StepCounter.exe
/StepCounter/obj/iPhone/AppStore/mtouch-cache/linked-assemblies.txt
/StepCounter/obj/iPhone/AppStore/mtouch-cache/main.armv7.m
/StepCounter/obj/iPhone/AppStore/mtouch-cache/main.armv7.o
/StepCounter/obj/iPhone/AppStore/mtouch-cache/Mindscape.Raygun4Net.Xamarin.iOS.dll.armv7.o
/StepCounter/obj/iPhone/AppStore/mtouch-cache/Mindscape.Raygun4Net.Xamarin.iOS.dll.armv7.s
/StepCounter/obj/iPhone/AppStore/mtouch-cache/Mindscape.Raygun4Net.Xamarin.iOS.dll.armv7.s.bc
/StepCounter/obj/iPhone/AppStore/mtouch-cache/Mindscape.Raygun4Net.Xamarin.iOS.dll.armv7.s.opt.bc
/StepCounter/obj/iPhone/AppStore/mtouch-cache/monotouch.dll.armv7.o
/StepCounter/obj/iPhone/AppStore/mtouch-cache/monotouch.dll.armv7.s
/StepCounter/obj/iPhone/AppStore/mtouch-cache/monotouch.dll.armv7.s.bc
/StepCounter/obj/iPhone/AppStore/mtouch-cache/monotouch.dll.armv7.s.opt.bc
/StepCounter/obj/iPhone/AppStore/mtouch-cache/mscorlib.dll.armv7.o
/StepCounter/obj/iPhone/AppStore/mtouch-cache/mscorlib.dll.armv7.s
/StepCounter/obj/iPhone/AppStore/mtouch-cache/mscorlib.dll.armv7.s.bc
/StepCounter/obj/iPhone/AppStore/mtouch-cache/mscorlib.dll.armv7.s.opt.bc
/StepCounter/obj/iPhone/AppStore/mtouch-cache/MTiRate.dll.armv7.o
/StepCounter/obj/iPhone/AppStore/mtouch-cache/MTiRate.dll.armv7.s
/StepCounter/obj/iPhone/AppStore/mtouch-cache/MTiRate.dll.armv7.s.bc
/StepCounter/obj/iPhone/AppStore/mtouch-cache/MTiRate.dll.armv7.s.opt.bc
/StepCounter/obj/iPhone/AppStore/mtouch-cache/Parse.iOS.dll.armv7.o
/StepCounter/obj/iPhone/AppStore/mtouch-cache/Parse.iOS.dll.armv7.s
/StepCounter/obj/iPhone/AppStore/mtouch-cache/Parse.iOS.dll.armv7.s.bc
/StepCounter/obj/iPhone/AppStore/mtouch-cache/Parse.iOS.dll.armv7.s.opt.bc
/StepCounter/obj/iPhone/AppStore/mtouch-cache/PreBuild/monotouch.dll
/StepCounter/obj/iPhone/AppStore/mtouch-cache/PreBuild/monotouch.dll.mdb
/StepCounter/obj/iPhone/AppStore/mtouch-cache/PreBuild/mscorlib.dll
/StepCounter/obj/iPhone/AppStore/mtouch-cache/PreBuild/mscorlib.dll.mdb
/StepCounter/obj/iPhone/AppStore/mtouch-cache/PreBuild/StepCounter.exe
/StepCounter/obj/iPhone/AppStore/mtouch-cache/PreBuild/System.Core.dll
/StepCounter/obj/iPhone/AppStore/mtouch-cache/PreBuild/System.Core.dll.mdb
/StepCounter/obj/iPhone/AppStore/mtouch-cache/PreBuild/System.dll
/StepCounter/obj/iPhone/AppStore/mtouch-cache/PreBuild/System.dll.mdb
/StepCounter/obj/iPhone/AppStore/mtouch-cache/registrar.armv7.o
/StepCounter/obj/iPhone/AppStore/mtouch-cache/registrar.m
/StepCounter/obj/iPhone/AppStore/mtouch-cache/StepCounter.exe.armv7.o
/StepCounter/obj/iPhone/AppStore/mtouch-cache/StepCounter.exe.armv7.s
/StepCounter/obj/iPhone/AppStore/mtouch-cache/StepCounter.exe.armv7.s.bc
/StepCounter/obj/iPhone/AppStore/mtouch-cache/StepCounter.exe.armv7.s.opt.bc
/StepCounter/obj/iPhone/AppStore/mtouch-cache/System.Core.dll.armv7.o
/StepCounter/obj/iPhone/AppStore/mtouch-cache/System.Core.dll.armv7.s
/StepCounter/obj/iPhone/AppStore/mtouch-cache/System.Core.dll.armv7.s.bc
/StepCounter/obj/iPhone/AppStore/mtouch-cache/System.Core.dll.armv7.s.opt.bc
/StepCounter/obj/iPhone/AppStore/mtouch-cache/System.dll.armv7.o
/StepCounter/obj/iPhone/AppStore/mtouch-cache/System.dll.armv7.s
/StepCounter/obj/iPhone/AppStore/mtouch-cache/System.dll.armv7.s.bc
/StepCounter/obj/iPhone/AppStore/mtouch-cache/System.dll.armv7.s.opt.bc
/StepCounter/obj/iPhone/AppStore/mtouch-cache/System.Net.Http.dll.armv7.o
/StepCounter/obj/iPhone/AppStore/mtouch-cache/System.Net.Http.dll.armv7.s
/StepCounter/obj/iPhone/AppStore/mtouch-cache/System.Net.Http.dll.armv7.s.bc
/StepCounter/obj/iPhone/AppStore/mtouch-cache/System.Net.Http.dll.armv7.s.opt.bc
/StepCounter/obj/iPhone/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/StepCounter/obj/iPhone/Debug/mtouch-cache/Build/monotouch.dll
/StepCounter/obj/iPhone/Debug/mtouch-cache/Build/monotouch.dll.mdb
/StepCounter/obj/iPhone/Debug/mtouch-cache/Build/mscorlib.dll
/StepCounter/obj/iPhone/Debug/mtouch-cache/Build/mscorlib.dll.mdb
/StepCounter/obj/iPhone/Debug/mtouch-cache/Build/StepCounter.exe
/StepCounter/obj/iPhone/Debug/mtouch-cache/Build/StepCounter.exe.mdb
/StepCounter/obj/iPhone/Debug/mtouch-cache/Link/StepCounter.exe
/StepCounter/obj/iPhone/Debug/mtouch-cache/Link/StepCounter.exe.mdb
/StepCounter/obj/iPhone/Debug/mtouch-cache/monotouch.dll.armv7.o
/StepCounter/obj/iPhone/Debug/mtouch-cache/monotouch.dll.armv7.s
/StepCounter/obj/iPhone/Debug/mtouch-cache/mscorlib.dll.armv7.o
/StepCounter/obj/iPhone/Debug/mtouch-cache/mscorlib.dll.armv7.s
/StepCounter/obj/iPhone/Debug/mtouch-cache/PreBuild/monotouch.dll
/StepCounter/obj/iPhone/Debug/mtouch-cache/PreBuild/monotouch.dll.mdb
/StepCounter/obj/iPhone/Debug/mtouch-cache/PreBuild/mscorlib.dll
/StepCounter/obj/iPhone/Debug/mtouch-cache/PreBuild/mscorlib.dll.mdb
/StepCounter/obj/iPhone/Debug/mtouch-cache/PreBuild/StepCounter.exe
/StepCounter/obj/iPhone/Debug/mtouch-cache/PreBuild/StepCounter.exe.mdb
/StepCounter/obj/iPhone/Debug/mtouch-cache/registrar.armv7.o
/StepCounter/obj/iPhone/Debug/mtouch-cache/registrar.m
/StepCounter/obj/iPhone/Debug/mtouch-cache/StepCounter.exe.armv7.o
/StepCounter/obj/iPhone/Debug/mtouch-cache/StepCounter.exe.armv7.s
/StepCounter/obj/iPhone/Debug/StepCounter.csproj.FileListAbsolute.txt
/StepCounter/obj/iPhone/Debug/StepCounter.csprojResolveAssemblyReference.cache
/StepCounter/obj/iPhone/Debug/StepCounter.exe
/StepCounter/obj/iPhone/Debug/StepCounter.pdb
/StepCounter/obj/iPhoneSimulator/Debug/monotouch_version
/StepCounter/obj/iPhoneSimulator/Debug/mtouch-cache/arguments
/StepCounter/obj/Xcode/3/
/StepCounter/obj/Xcode/4/

StepCounter.Android/StoreCopy.txt

*.userprefs

StepCounter.sln

StepCounter.userprefs

StepCounter.userprefs

*.userprefs

*.userprefs

StepCounter.userprefs

StepCounter.userprefs

*.userprefs

*.userprefs

*.userprefs

StepCounter.Xamarin.userprefs
