body {
	text-rendering: geometricPrecision;
	background-color: #3498DB;
	background-image: -webkit-linear-gradient(top, #3498DB, #2C3E50); /* For Chrome and Safari */
	background-image:    -moz-linear-gradient(top, #3498DB, #2C3E50); /* For old Fx (3.6 to 15) */
	background-image:     -ms-linear-gradient(top, #3498DB, #2C3E50); /* For pre-releases of IE 10*/
	background-image:      -o-linear-gradient(top, #3498DB, #2C3E50); /* For old Opera (11.1 to 12.0) */ 
	background-image:         linear-gradient(to bottom, #3498DB, #2C3E50); /* Standard syntax; must be last */
	font-family: 'Roboto', sans-serif;
	color: #fbf7ef;
	
}

a:link {color:#FFFFFF;}      /* unvisited link */
a:visited {color:#FFFFFF;}  /* visited link */
a:hover {color:#B4BCBC;}  /* mouse over link */
a:active {color:#B4BCBC;}  /* selected link */

h1 {
	
	font-size: 4.5em;
	margin-bottom: 5px;
	margin-top: 0;
	padding-top: 20px;
	text-align: center;
	font-weight: 100; 
}

h2 {
	font-size: 23px;
	text-align: center;
	margin: 0 0 0px 200px;
	font-weight: 300; 

}

p {
	text-align: center;
}

p.bottomline {
	font-size: 13px;
}

img {
	margin: auto;
}

div#contain 
{ 
	width: 100%;
	overflow: visible;

	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-align:center;
} 

div#leftdiv 
{ 

	display: block;
	width: 49%;
	float: left;
	margin: 0 -40px;
	background: url('frame_bg.png') no-repeat no-repeat;
	background-size: 100% 100%;
}

div#leftdiv video {
	display: block;
	width: 65%;
	margin: auto;
	padding-top: 25%;
	padding-bottom: 25%;
}

div#rightdiv 
{

	display: block;
 width: 49%;
 float: left;
 margin: 0 -40px;
 background: url('frame_bg_iphone.png') no-repeat no-repeat;
 background-size: 100% 100%;
} 

div#rightdiv video {
	display: block;
	width: 59%;
	margin: auto;
	padding-top: 28%;
	padding-bottom: 33%;
}

.clear{
   clear:both;
}

img.appstore {
	display: block;
	margin: -10% auto 0 auto;
	width: 135px;
	height: 40px;
	position:relative;
	z-index:1000
}


img.gplay {
	display: block;
	margin: -10% auto 0 auto;
	width: 144px;
	height: 50px;
	position:relative;
	z-index:1000
}

div#contain_footer
{ 
	padding-top: 30px;
	padding-bottom: 30px;
	width: 60%;
	margin: auto;
	overflow: hidden;
} 


img.starter {
	margin: 0px 10px 0 auto;
	width: 144px;
	height: 60px;
}
